* {
  font-family: "neue-haas-grotesk-text", sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="32" height="32"><circle cx="8" cy="8" r="7" fill="black"/></svg>')
      6 6,
    auto;
}

body {
  /* font-family: neue-haas-grotesk-text, sans-serif; */
  background-color: #fbf9f5;
  /* line-height: 30px; */
  margin: 0;
  padding: 0;
  /* text-align: center; */
}

.container{
  border: 1px solid black;
  margin: 50px auto 80px auto;
  width: 80%;
}

.websiteArchive {
  display: flex;
  margin: 20px 0;
  align-items: baseline;  /* haha */
}

.websiteArchive:hover{
  background-color: #f5f5f5;
}

h2 {
  font-size: 1.5em;
  margin-right: 20px; /* Adds 20px margin between the title and description */
}

.websiteArchive p,
.websiteArchive a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
  margin: 0;
}

.websiteArchive a:hover {
  text-decoration: underline;
  color: black;
}
