.websiteArchive {
    display: flex;
    margin: 20px 0;
    align-items: center;

  }
  
  .websiteArchive h2 {
    margin-right: 20px; /* Adds 20px margin between the title and description */
}
  .websiteArchive p, 
  .websiteArchive a {
    margin-right: 20px;
    margin: 0;
  }
  